@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    img{
        border-radius: 3%;
        height: 40px;
        width: 40px;
    }

}
.product{
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    color: rgb(59, 59, 59);
    box-shadow: 4px 4px 4px 4px gray;
}
img{
    border-radius: 3%;
    height: 240px;
    width: 240px;
}
.product label{
    display: inline-block;
    
}
.product .price{
    display: block;
    padding:3px;
    text-decoration: underline;
}
 .product .total{
    display: block;
    padding: 3px;
    text-decoration: underline;
    margin: 2px;
    
}
.product button{
    font-size: 18px;
}
